excercise1.exe
excersice2.exe
excercise3.exe
excercise4.exe
excercise5.exe
excercise6.exe
excercose7.exe
excercise8.exe
excercise9.exe
excercise10.exe
excercise11.exe
excercise12.exe
excercise13.exe
excercise14.exe
bmi_calculator.exe
calculator.exe
daysInMonth.exe
0
guessing_game.exe
ATM.exe
.vscode